http/soap-client-symbol-processor/src/test/wsdl/simple-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="OfferService"
                  targetNamespace="http://kora.tinkoff.ru/simple/service"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://kora.tinkoff.ru/simple/service"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kora.tinkoff.ru/simple/service">
            <xsd:element name="TestRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="val1" type="xsd:string"/>
                        <xsd:element minOccurs="1" name="val2" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TestResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="val1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="testRequestMsg">
        <wsdl:part element="tns:TestRequest" name="testRequest"/>
    </wsdl:message>
    <wsdl:message name="testResponseMsg">
        <wsdl:part element="tns:TestResponse" name="testResponse"/>
    </wsdl:message>

    <wsdl:portType name="SimpleService">
        <wsdl:operation name="test">
            <wsdl:input message="tns:testRequestMsg" name="testRequest"/>
            <wsdl:output message="tns:testResponseMsg" name="testResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SimpleServiceBinding" type="tns:SimpleService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="test">
            <soap:operation soapAction=""/>
            <wsdl:input name="testRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="testResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SimpleServiceService">
        <wsdl:port binding="tns:SimpleServiceBinding" name="TestService">
            <soap:address location="http://localhost:8080/simple/service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
